@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dancing+Script&family=IBM+Plex+Sans+Condensed:wght@600&family=Kalam:wght@300&family=Lora&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #008577;
  --secondary-color: #014e45;
  /* --main-text-color: #27282b; */
  --main-text-color: #1F2937;
  --error-color: #D80032;
  --grey-bg-color: #d9d9d9;
  --borders--color: #a6a7ab;
}

body {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--main-text-color);
  background-color: #00857806;
}

.generateButton {
  padding: 12px 36px;
  border: none;
  outline: none;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: #fff;
}
.generateButton:before {
  content: "";
  background: linear-gradient(
  45deg,
  #002BFF,
  #008577,
  #48FF00,
  #00FFD5,
  #008577,
  #014e45
  ) ;
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.generateButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--main-text-color);
  left: 0;
  top: 0;
  border-radius: 10px;
}
.generateButton:hover::after {
  background: var(--secondary-color);
}
